body{
	background: #fff;
    color:white;
    font-family:Helvetica, Arial;
    font-size: 10pt;
}
		
table,td
{
	border: 1px solid #CCC;
	border-collapse: collapse;
  	font-size:13pt;
        height: 30px;
}
table
{
	border:none;
	border:1px solid #CCC;
}
thead th,
tbody th
{
	background-color: #eee;
  	color: #999;  
	padding: 0;
  	border-left: 1px solid #CCC;
}
tbody th
{
  background: #fafafb;
  border-top: 1px solid #CCC;
  text-align: left;
  font-weight: normal;
  font-size:11pt;
}
tbody tr td
{
	padding: 0;
  color: #666;
  font-size:11pt;
}

caption
{
	text-align: left;
	font-size: 10pt;
	padding: 0;
	color: #999;
}
#content_report{
    background: white;
    color:#888;
    margin: 1em auto;    
    vertical-align: top;
	width:21.5cm;
	height: auto;
}

.page-break{
	page-break-after: always;
}

.boxprint{
	display:none;
}

#boxSelectList{
	display:none;
}

#myModal{
    display: none;
}

/* fuente mas grande*/
/*table.dispersion,table.dispersion td
{
	border: 1px solid #CCC;
	border-collapse: collapse;
  	font-size:14pt;
}
table.dispersion
{
	border:none;
	border:1px solid #CCC;
}
.dispersion thead th,
.dispersion tbody th
{
	background-color: #eee;
  	color: #999;  
	padding: 0;
  	border-left: 1px solid #CCC;
}
.dispersion tbody th
{
  background: #fafafb;
  border-top: 1px solid #CCC;
  text-align: left;
  font-weight: normal;
  font-size:14pt;
}
.dispersion tbody tr td
{
	padding: 0;
  color: #999;
  font-size:14pt;
}

.dispersion caption
{
	text-align: left;
	font-size: 14pt;
	padding: 0;
	color: #999;
}*/